html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ctBackground{
  background-color: #eafde6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.ctContent{
  background-color: #ffffff;
  width: 40%;
  height: 85%;
}

.form{
  display: flex;
  flex-direction: column;
}

